<div class="acs-navbar">
  <div class="acaisoft-logo">
    <div class="mock-replacer">
      acaisoft
    </div>
  </div>
  <div class="navigation-tabs">
    <div class="tab link"
         [routerLink]="['/bookslist']"
         routerLinkActive="selected">
      Books List
    </div>
  </div>
  <div class="user-fields">
    <div class="field">
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="name">
        {{loggedUserService.getLoggedUser()?.email || "anonymous"}}
      </div>
    </div>
    <div class="field link" (click)="logout()">
      <div class="icon">
        <i class="fa fa-power-off"></i>
      </div>
      <div class="name">
        Logout
      </div>
    </div>
  </div>
</div>
